:root {
    --gray-dark: #181818;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer, header{
    background-color: var(--gray-dark);
}

footer{
    width: 100%;
    padding: 50px;
    margin-top: 200px;
}

#dropdown{
    display: none;
    margin-right: 100%;
    margin-left: 40px;
    opacity: 0%;
}

@media screen and (max-width: 990px){
    #navbar{
        display: none;
    }
    #dropdown{
        display: flex;
    }
}

.navbar{
    box-shadow: 0.2px 0px 10px rgba(0,0,0, .3);
}

main#base_principal{
    margin-top: 120px;
}

#navbarNav{
    padding: 2px;
    margin: auto;
}

.li_nav{
    margin-inline: 10px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    padding-inline: 15px;
    padding-block: 5px;
    cursor: pointer;
}

.li_nav:hover{
    background-color: rgb(54, 54, 54);
}

.nav-link{
    padding: 10px;
}

#menu_hamburguer{
    border: none;
}